// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@jaune: #edc34e;
@gris: #c7b299;
@vert: #9fbf3f;
@blue: #3f30c9;
@black: #3e2b2b;

#monLogo {
    margin-left: 150px;
    width: 200px;
}

#head_top {
    background-image: url("http://www.entrebeauceetperche.fr/public/images/header.jpg");
    background-size: cover;
}

.marginTop {
    margin-top: 60px;
}

section {
    background-color: @black;
    color: @jaune;
}

.styleNavbar {
    background-color: @black;
    margin-bottom: -50px;
}

.nav {
    margin-right: 10px;
    margin-left: 10px;
}

nav {
    box-shadow: none;
}

navbar-inverse {
    background-color: @black!important;
}

label {
    color: black;
    font-size: 14px;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #000;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
