// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@jaune: #edc34e;
@gris: #c7b299;
@vert: #9fbf3f;
@blue: #3f30c9;
@black: #3e2b2b;

.md-event-calendar-cell-event {
    background-color: red!important;
}

.md-event-calendar-cell-event.md-end, .md-event-calendar-cell-event.md-continue, .md-event-calendar-cell-event.md-spacer{
  background-color: red!important;
  min-height: 26px!important;
  font-size: 12px;
}

#monLogo {
    margin-left: 150px;
    width: 200px;
}

#head_top {
    background-image: url("http://www.entrebeauceetperche.fr/public/images/header.jpg");
    background-size: cover;
}

.marginTop {
    margin-top: 60px;
}

.section {
    color: @jaune;
}

.styleNavbar {
    margin-bottom: -50px;
    background-color: white!important;
}

.nav {
    margin-right: 10px;
    margin-left: 10px;
}

nav {
    box-shadow: none;
    background-color: white!important;
}

nav ul a {
    color: black;
}

label {
    color: black;
    font-size: 14px;
}

.active {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h5 {
    font-size: 20px;
}

.map {
    width: 98vw;
    height: 40vh;
}

.col-lg-offset-3 col-lg-6 ng-scope {
    margin-left: inherit;
}

div.container.ng-scope {
    margin-left: 0 ,auto;
    display: -webkit-inline-box;
}
