// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@jaune: #edc34e;
@gris: #c7b299;
@vert: #9fbf3f;
@blue: #3f30c9;
@black: #3e2b2b;
@materialize: #26a69a;

body.md-default-theme, body, html.md-default-theme, html {
    background-color: white!important;
}

.delete {
  background-color: red;
}

.validate {
  background-color: green;
}

.empty {
  background-color: white!important;
  border-color: @materialize;
  color: @materialize;
}

#verticalScroll {
  height: 650px;
  overflow-y: auto;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.md-event-calendar-cell-event {
  background-color: red!important;
}

.md-event-calendar-cell-event-spacer {
  min-height: 26px!important;
}

.md-event-calendar-cell-event.md-continue,
.md-event-calendar-cell-event.md-continue-right,
.md-event-calendar-cell-event.md-end,
.md-event-calendar-cell-event.md-spacer {
  background-color: red!important;
  min-height: 26px!important;
  font-size: 12px;
}

.modal {
  width: 90% !important;
  height: 90% !important;
}

#monLogo {
  margin-left: 150px;
  width: 200px;
}

#head_top {
  background-image: url("http://www.entrebeauceetperche.fr/public/images/header.jpg");
  background-size: cover;
}

.marginTop {
  margin-top: 60px;
}

.section {
  color: @jaune;
}

.pitchBlack {
  color: lightgrey!important;
}

.styleNavbar {
  margin-bottom: -50px;
  background-color: white!important;
}

.nav {
  margin-right: 10px;
  margin-left: 10px;
}

nav {
  box-shadow: none;
}

nav ul a {
  color: black;
}

label {
  color: black;
  font-size: 14px;
}
// .active {
//     font-size: 20px;
// }

h1 {
  font-size: 50px;
}

h5 {
  font-size: 20px;
}

.map {
  width: 98vw;
  height: 40vh;
}

.label {
  font-size: 15px!important;
}
// .col-lg-offset-3 col-lg-6 ng-scope {
//     margin-left: inherit;
// }
// div.container.ng-scope {
//     margin-left: 0 ,auto;
//     display: -webkit-inline-box;
// }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}

main {
  flex: 1 0 auto;
}

.marginTopMore {
  margin-top: 120px;
}

.pad {
  padding-bottom: -30px;
}

.slider .slides {
  height: 200px!important;
}
.slider {
  height: 230px!important;
}
.styleModalBorder {
  border: 1px black solid;
  height: 450px;
}
.marginModaleHome {
  margin-top: 50px;
}
.centerBtnFooter {
  overflow: hidden!important;
  text-align: center!important;
}
.centerBtn {
  overflow: inherit!important;
  float: none!important;
}
.toUpperCasse {
  text-transform: uppercase;
}
