<form class="form" name="loginForm" novalidate ng-submit="register()">
    <div class="row">
        <div ng-repeat="error in errors">{{error.error}}</div>
        <div class="input-field col offset-l3 l6 offset-m3 m6 offset-s3 s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="text" type="text" class="validate" ng-model="user.firstName">
            <label for="text" style="color: {{ color }}">Nom {{ star }}</label>
        </div>
        <div class="input-field col offset-l3 l6 offset-m3 m6 offset-s3 s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="text" type="text" class="validate" ng-model="user.lastName">
            <label for="text" style="color: {{ color }}">Prenom {{ star }}</label>
        </div>
        <div class="input-field col offset-l3 l6 offset-m3 m6 offset-s3 s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="email" type="text" class="validate" ng-model="user.email">
            <label for="email" style="color: {{ color }}">Email {{ star }}</label>
        </div>
        <div class="input-field col offset-l3 l6 offset-m3 m6 offset-s3 s6">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" class="validate" ng-model="user.password">
            <label for="password" style="color: {{ color }}">Mot de passe {{ star }}</label>
        </div>
    </div>
    <div class="row">
        <div class="col offset-l3">
            <p style="color: {{ color }}">{{ errorRegister }}</p>
            <p style="color: {{ color }}">{{ nopNop }}</p>
            <p style="color: {{ color }}">{{ nop }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-l3 l2 offset-m3 m2 offset-s3 m2">
            <button type="submit" class="btn waves-effect left waves-light btn">Enregistrer
              <i class="material-icons right">done</i>
            </button>
        </div>
        <div class="col l4 m4 s4">
            <a ui-sref="anon.login" class="btn waves-effect right waves-light btn">Connexion</a>
        </div>
    </div>
</form>
<div class="row">
    <div class="col offset-l3 offset-m3 offset-s3">
        <span class="blue-text text-darken-2">Si vous avez un compte veuillez vous connecter en cliquant sur le bouton connexion</span>
    </div>
</div>
