<header>
    <div id="head_top">
        <div class="row">
            <div class="col l2 m2 s6">
                <a href="/"><img class="logo img-responsive" id="monLogo" src="http://www.entrebeauceetperche.fr/public/images/logo.svg" /> </a>
            </div>
        </div>
    </div>
</header>

<nav ng-controller="NavbarController">
  <div class="nav-wrapper">
    <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li ui-sref-active="active"><a ui-sref="user.home">Accueil</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li ui-sref-active="active"><a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()">Favoris</a></li>
      <li ui-sref-active="active"><a ui-sref="user.profile" ng-show="auth.isAuthenticated()">Profile</a></li>
      <li ui-sref-active="active"><a ui-sref="user.salleDesFetes" ng-if="user.isAdmin">Mes salles des fêtes</a></li>
      <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'>Déconnexion</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo" class="left hide-on-med-and-down">
      <li ui-sref-active="active"><a ui-sref="user.home"><h4>Accueil</h4></a></li>
      <li ui-sref-active="active"><a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()"><h4>Favoris</h4></a></li>
      <li ui-sref-active="active"><a ui-sref="user.profile" ng-show="auth.isAuthenticated()"><h4>Profile</h4></a></li>
      <li ui-sref-active="active"><a ui-sref="user.salleDesFetes" ng-if="user.isAdmin"><h4>Mes salles des fêtes</h4></a></li>
      <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'><h4>Déconnexion</h4></a></li>
    </ul>
  </div>
</nav>
