<div class="container">
  <h3 class="center section">Réservation de la salle : <a class="light-green-text">{{nomSalle}}</a></h2>
    <form class="" ng-submit="sendMail(resaDateStart, resaDateEnd, precisionUser)">
      <div class="row">
        <div class="col offset-l3 l6 m12 s12">
          <label><em>Date de début de la réservation</em></label>
          <input type="date" ng-model="resaDateStart" required>
        </div>
      </div>
      <div class="row">
        <div class="col offset-l3 l6 m12 s12">
          <em><label>Date de fin de la réservation</label></em>
          <input type="date" ng-model="resaDateEnd" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col offset-l3 l6 m12 s12">
          <textarea class="materialize-textarea" ng-model="precisionUser"></textarea>
          <label>Précision que vous souhaitez apporter (optionnel)</label>
        </div>
      </div>
      <div class="row">
        <div class="col l9 m12">
          <button type="submit" class="btn waves-effect waves-light light-green right">Effectuer ma réservation</button>
        </div>
      </div>
    </form>
</div>
