<div container-fluid class="marginTop">
    <div class="row">
        <form>
            <div class="input-field col s6">
                <label>Nom de la salle :</label>
                <input type="text" ng-model="nameSDF">
            </div>
            <div class="input-field col s6">
                <label>Capacité maximale de la salle :</label>
                <input type="text" ng-model="capacitySDF">
            </div>
            <div class="input-field col s12">
                <textarea id="textareaDescription" placeholder = "cuisine" ng-model="textSDF" class="materialize-textarea"></textarea>
                <label for="textareaDescription">Description de la salle :</label>
            </div>
            <div class="input-field col s6">
                <label>Surface de la salle :</label>
                <input type="text" ng-model="surfaceSDF">
            </div>
            <div class="input-field col s6">
                <label>Ville :</label>
                <input type="text" ng-model="citySDF">
            </div>
            <div class="input-field col s6">
                <label>Code postal :</label>
                <input type="text" ng-model="postalCodeSDF">
            </div>
            <div class="input-field col s6">
                <label>Adresse :</label>
                <input type="text" ng-model="adressSDF">
            </div>
            <button type="submit" class="btn" ng-click="addSDF()">Ajouter une salle des fêtes</button>
    </div>
    </form>

    <div class="col s6" ng-repeat="salleDesFetes in sallesDesFetes track by $index">
        <div class="row">
            <div class="col s6">
                <button data-target="modal{{$index}}" class="btn">Salle: {{salleDesFetes.name}}</button>
                <div id="modal{{$index}}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <div class="row">
                            <div class="modal-header">
                                <button class="modal-action modal-close waves-effect waves-green btn ">Fermer</button>
                            </div>
                            <div class="input-field col s6">
                                <h5>Nom de la salle :</h5> {{salleDesFetes.name}}
                            </div>
                            <div class="input-field col s6">
                                <h5>Capacité maximale de la salle :</h5> {{salleDesFetes.capacity}}
                            </div>
                            <div class="input-field col s12">
                                <h5>Description de la salle :</h5> {{salleDesFetes.text}}
                            </div>
                            <div class="input-field col s6">
                                <h5>Surface de la salle :</h5> {{salleDesFetes.surface}}
                            </div>
                            <div class="input-field col s6">
                                <h5>Ville :</h5> {{salleDesFetes.city}}
                            </div>
                            <div class="input-field col s6">
                                <h5>Code postal :</h5> {{salleDesFetes.postalCode}}
                            </div>
                            <div class="input-field col s6">
                                <h5>Adresse :</h5> {{salleDesFetes.adress}}
                            </div>
                            <div class="col s12">
                                <md-event-calendar class="md-primary" ng-model="salleDesFetes.selected" md-events="salleDesFetes.evenement" md-event-click="eventClicked($selectedEvent)" md-label="title" , md-show-create-link="true" md-create-event-click="eventCreatea($index,$date,event)"
                                    class="md-primary">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <label>Nom de l'evenement/de la réservation :</label>
                                            <input type="text" ng-model="event.eventTitle">
                                        </div>
                                        <div class="input-field col s6">
                                            <label class="active">Heure de commencement:</label>
                                            <input type="time" ng-model="event.eventStart">
                                        </div>
                                        <div class="input-field col s6">
                                            <label class="active">Jour de fin: (par défaut, le jour même)</label>
                                            <input type="date" ng-model="event.dayEnd">
                                        </div>
                                        <div class="input-field col s6">
                                            <label class="active">Heure de fin: (optionnel)</label>
                                            <input type="time" ng-model="event.eventEnd">
                                        </div>
                                    </div>
                                    <md-event-calendar-header class="md-center">
                                        <md-event-calendar-prev></md-event-calendar-prev>
                                        <md-event-calendar-title></md-event-calendar-title>
                                        <md-event-calendar-next></md-event-calendar-next>
                                    </md-event-calendar-header>
                                </md-event-calendar>
                            </div>
                        </div>
                        <button type="button" class="btn" ng-click="editSDF($index)">Modifier des informations</button>
                        <ng-show ng-show="editSDF[$index]">
                            </br>
                            <div class="input-field col s6">
                                <label>Nom de la salle :</label>
                                <input type="text" ng-model="newNameSDF" placeholder="{{salleDesFetes.name}}">
                            </div>
                            <div class="input-field col s6">
                                <label>Capacité maximale de la salle :</label>
                                <input type="text" ng-model="newCapacitySDF" placeholder="{{salleDesFetes.capacity}}">
                            </div>
                            <div class="input-field col s12">
                                <label for="textareaDescription">Description de la salle :</label>
                                <textarea id="textareaDescription" ng-model="newTextSDF" placeholder="{{salleDesFetes.text}}" class="materialize-textarea"></textarea>
                            </div>
                            <div class="input-field col s6">
                                <label>Surface de la salle :</label>
                                <input type="text" ng-model="newSurfaceSDF" placeholder="{{salleDesFetes.surface}}">
                            </div>
                            <div class="input-field col s6">
                                <label>Ville :</label>
                                <input type="text" ng-model="newCitySDF" placeholder="{{salleDesFetes.city}}">
                            </div>
                            <div class="input-field col s6">
                                <label>Code postal :</label>
                                <input type="text" ng-model="newPostalCodeSDF" placeholder="{{salleDesFetes.postalCode}}">
                            </div>
                            <div class="input-field col s6">
                                <label>Adresse :</label>
                                <input type="text" ng-model="newAdressSDF" placeholder="{{salleDesFetes.adress}}">
                            </div>
                            <button type="button" class="btn" ng-click="editSDFDone($index, salleDesFetes._id,{name : newNameSDF, text: newTextSDF, capacity: newCapacitySDF, surface: newSurfaceSDF, city: newCitySDF, postalCode: newPostalCodeSDF, adress: newAdressSDF})">Valider vos modifications</button>
                        </ng-show>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <button type="button" class="btn" ng-click="deleteSDF(salleDesFetes)">Supprimer la salle : {{salleDesFetes.name}}</button>
            </div>
        </div>
    </div>

</div>

<!-- <form class="marginTop" name="form"> -->
<!-- Upload on form submit or button click
  Single Image with validations
  <button ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Select</button>
  Multiple files
  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
  <button type="submit" ng-click="submit()">submit</button> -->
<!-- </form>
<div class="button" ngf-select="upload($file)">Upload on file select</div>
<div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on files select</div> -->

<!-- Drop File:
<div ngf-drop="uploadFiles($files)" class="drop-box"
  ngf-drag-over-class="'dragover'" ngf-multiple="true"
  ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> -->
