<div container-fluid class="marginTop">

  <!-- Room recording -->
  <div class="row">
    <div class="col l6 m6 s6">
      <h4 class="center section">Ajout d'une salle des fêtes</h4>
      <div class="row">
        <form>
          <br/>
          <h5 class="light-green-text">Informations relatives à la salle:</h5><br/>
          <div class="input-field col s6">
            <label>Nom de la salle :</label>
            <input type="text" ng-model="nameSDF">
          </div>
          <div class="input-field col s6">
            <label>Prix à la journée (en €) :</label>
            <input type="number" ng-model="priceSDF">
          </div>
          <div class="input-field col s6">
            <label>Capacité maximale de la salle :</label>
            <input type="number" ng-model="capacitySDF">
          </div>
          <div class="input-field col s6  ">
            <label>Surface de la salle (en m²):</label>
            <input type="number" ng-model="surfaceSDF">
          </div>
          <div class="input-field col s12">
            <textarea id="textareaDescription" placeholder="Ex : cuisine aménagée, parking..." ng-model="textSDF" class="materialize-textarea validate"></textarea>
            <label for="textareaDescription" class="active">Description de la salle :</label>
          </div>
          <br/>
          <br/>
          <h5 class="light-green-text">Adresse de la salle</h5>
          <div class="input-field col s9">
            <label>Ville :</label>
            <input type="text" ng-model="citySDF">
          </div>
          <div class="input-field col s3">
            <label>Code postal :</label>
            <input type="number" ng-model="postalCodeSDF">
          </div>
          <div class="input-field col s12">
            <label>Adresse :</label>
            <input type="text" ng-model="adressSDF">
          </div>
          <button type="submit" class="btn right light-green" ng-click="addSDF()">Ajouter une salle des fêtes</button>
      </div>
      </form>
    </div>

    <!-- Room manager with modal modified room and cards -->
    <div class="col l6 m6 s6" id="verticalScroll">

      <h4 class="center section">Gestion des salles des fêtes :</h4>

      <div class="col l12 m12 s12" ng-repeat="salleDesFetes in sallesDesFetes track by $index">
        <div class="row">

          <div class="col offset-l2 l8 m12">
            <div class="card">
              <div class="card-image">
                <img src="./upload/{{ salleDesFetes.image[0].imageRep }}" height="250">
              </div>
              <div class="card-content">
                <p>Nom de la salle : {{ salleDesFetes.name }}</p>
              </div>
              <div class="card-action">
                <button data-target="modal{{$index}}" class="btn light-green">modifier</button>
                <button type="button" class="btn right red" ng-click="deleteSDF(salleDesFetes)">Supprimer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s4 offset-s2">
            <div id="modal{{$index}}" class="modal modal-fixed-footer">
              <div class="modal-content">
                <div class="row">
                  <div class="modal-header">
                    <button class="modal-action modal-close waves-effect orange lighten-2 btn ">Fermer</button>
                  </div>
                  <div class="input-field col s6">
                    <h5>Nom de la salle :</h5> {{salleDesFetes.name}}
                  </div>
                  <div class="input-field col s6">
                    <h5>Capacité maximale de la salle :</h5> {{salleDesFetes.capacity}}
                  </div>
                  <div class="input-field col s12">
                    <h5>Description de la salle :</h5> {{salleDesFetes.text}}
                  </div>
                  <div class="input-field col s6">
                    <h5>Surface de la salle :</h5> {{salleDesFetes.surface}}
                  </div>
                  <div class="input-field col s6">
                    <h5>Ville :</h5> {{salleDesFetes.city}}
                  </div>
                  <div class="input-field col s6">
                    <h5>Code postal :</h5> {{salleDesFetes.postalCode}}
                  </div>
                  <div class="input-field col s6">
                    <h5>Adresse :</h5> {{salleDesFetes.adress}}
                  </div>
                  <button type="button" class="btn" ng-click="editSDF($index)">Modifier les informations</button>
                  <ng-show ng-show="editSDF[$index]">
                    </br>
                    <div class="input-field col s6">
                      <label>Nom de la salle :</label>
                      <input type="text" ng-model="newNameSDF" placeholder="{{salleDesFetes.name}}">
                    </div>
                    <div class="input-field col s6">
                      <label>Prix à la journée (en €) :</label>
                      <input type="text" ng-model="newPriceSDF" placeholder="{{salleDesFetes.price}}">
                    </div>
                    <div class="input-field col s6">
                      <label>Capacité maximale de la salle :</label>
                      <input type="text" ng-model="newCapacitySDF" placeholder="{{salleDesFetes.capacity}}">
                    </div>
                    <div class="input-field col s12">
                      <label for="textareaDescription">Description de la salle :</label>
                      <textarea id="textareaDescription" ng-model="newTextSDF" placeholder="{{salleDesFetes.text}}" class="materialize-textarea"></textarea>
                    </div>
                    <div class="input-field col s6">
                      <label>Surface de la salle :</label>
                      <input type="text" ng-model="newSurfaceSDF" placeholder="{{salleDesFetes.surface}}">
                    </div>
                    <div class="input-field col s6">
                      <label>Ville :</label>
                      <input type="text" ng-model="newCitySDF" placeholder="{{salleDesFetes.city}}">
                    </div>
                    <div class="input-field col s6">
                      <label>Code postal :</label>
                      <input type="text" ng-model="newPostalCodeSDF" placeholder="{{salleDesFetes.postalCode}}">
                    </div>
                    <div class="input-field col s6">
                      <label>Adresse :</label>
                      <input type="text" ng-model="newAdressSDF" placeholder="{{salleDesFetes.adress}}">
                    </div>
                    <button type="button validate" class="btn" ng-click="editSDFDone($index, salleDesFetes._id,{name : newNameSDF, text: newTextSDF, capacity: newCapacitySDF, surface: newSurfaceSDF, city: newCitySDF, postalCode: newPostalCodeSDF, adress: newAdressSDF})">Valider vos modifications</button>
                    <button type="button" class="btn" ng-click="editCancel($index)">Annuler la modification</button>
                  </ng-show>
                  <div class="col s12">
                    <h5 class="center underline">Ajouter des photos {{sallesDesFetes.name}}</h5>



                <form name="myForm">
                    <fieldset>
                        <legend>Ajouter une photo</legend>
                        <!-- <p><em>Pour ajouter une photo,sélectionner l'image voulue puis cliquer sur "Valider" ensuite vous pouvez cliquer "vider" et repeter pour ajouter une nouvelle image</em></p><br/> -->
                        <br>Photo:
                        <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="5MB" required ngf-model-invalid="errorFile">
                        <i ng-show="myForm.file.$error.required">Un fichier est requis</i><br>
                        <i ng-show="myForm.file.$error.maxSize">Image trop volumineuse {{errorFile.size / 1000000|number:5}}MB: max 5MB</i>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                        <br>
                        <button class="btn waves-effect waves-light red" ng-click="picFile = null" ng-show="picFile">Annuler</button>
                        <button class="btn waves-effect waves-light light-green" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile, salleDesFetes._id)" ng-show="picFile">Valider</button>
                        <span class="progress" ng-show="picFile.progress >= 0">
                          <div style="width:{{picFile.progress}}%"
                          ng-bind="picFile.progress + '%'"></div>
                        </span>

                         <span ng-show="picFile.result">Image ajouter avec succès</span>
                         <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                     </fieldset>
                     <br>
                 </form>
             </div>
             <div class="col s12">
                 <h5 class="center underline">Calendrier d'évènement de la salle {{sallesDesFetes.name}}</h5>
                 <p><em>Pour créer un evenement, placer vous sur le jour voulu, et cliquer sur "CREATE"</em></p><br/>



                    <md-event-calendar class="md-primary" ng-model="salleDesFetes.selected" md-events="salleDesFetes.evenement" md-event-click="eventClicked($selectedEvent)" md-label="title" , md-show-create-link="true" md-create-event-click="eventCreatea($index,$date,event)"
                      class="md-primary">
                      <md-event-calendar-header class="md-center">
                        <md-event-calendar-prev></md-event-calendar-prev>
                        <md-event-calendar-title></md-event-calendar-title>
                        <md-event-calendar-next></md-event-calendar-next>
                      </md-event-calendar-header>
                      <div id="createContent" ng-show="showCreate">
                        <div class="row">
                          <h5>Création d'un évenement débutant le : {{dayStart}}</h5>
                          <div class="input-field col s6">
                            <label>Nom de l'evenement/de la réservation :</label>
                            <input type="text" ng-model="event.eventTitle">
                          </div>
                          <div class="input-field col s6">
                            <label class="active">Heure de commencement:</label>
                            <input type="time" ng-model="event.eventStart">
                          </div>
                          <div class="input-field col s6">
                            <label class="active">Jour de fin: (par défaut, le jour même)</label>
                            <input type="date" ng-model="event.dayEnd">
                          </div>
                          <div class="input-field col s6">
                            <label class="active">Heure de fin: (optionnel)</label>
                            <input type="time" ng-model="event.eventEnd">
                          </div>
                          <button type="button" class="btn right light-green" ng-click="createEventValidate(event)">Valider la création</button>
                          <button type="button" class="btn left red" ng-click="createCancel()">Annuler la création</button>
                        </div>
                      </div>
                      <div id="modifContent" ng-show="showEdit">
                        <h5>Evenement selectionné : {{title}}</h5>
                        <div class="row">
                          <div class="col s4">
                            <button type="button" class="btn" ng-click="editEvent()">Modifier l'evenement</button>
                          </div>
                          <div class="col s4">
                            <button type="button" class="btn empty" ng-click="cancelSelect()">Annuler (ne rien faire)</button>
                          </div>
                          <div class="col s4">
                            <button type="button" class="btn delete" ng-click="deleteEvent()">Supprimer l'evenement</button>
                          </div>
                        </div>
                        <div class="row" ng-show="modifOpen">
                          <div class="input-field col s4">
                            <label>Nom de l'evenement/de la réservation :</label>
                            <input type="text" ng-model="modif.title" placeholder="{{title}}">
                          </div>
                          <div class="input-field col s4">
                            <label class="active">Heure de commencement:</label>
                            <input type="time" ng-model="modif.start">
                          </div>
                          <div class="input-field col s4">
                            <label class="active">Jour de fin:</label>
                            <input type="date" ng-model="modif.dayEnd">
                          </div>
                          <button type="button" class="btn validate" ng-click="editEventValidate(modif)">Valider les modifications</button>
                        </div>
                      </div>
                    </md-event-calendar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
